@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
    background: #F29559;
    padding: 0 20px 0 20px;
}

.add, .update {
    margin: 50px;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
}

.buttons-container button{
    padding: .5em 1.5em;
    border-radius: 10px;
    border: none;
    background-color: #1F2C39;
}

.buttons-container button a{
    text-decoration: none;
    color: #F8CB68;
}

.add button {
    padding: .5em 1.2em;
    border: none;
    border-radius: 10px;
    font-weight: bold; 
    font-size: 1.2em;
    background-color: #192630;
    color: #F8CB68;
}

.addPopUp, .updatePopUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F29559;
    z-index: 1000;
    border-radius: 10px;
}

.updatePopUp{
    display: block;
}

.addPopUp h1, .updatePopUp h1 {
    text-align: center;
    font-weight: bolder;
}

.addPopUp label, .updatePopUp label {
    font-weight: bold;
}

.addPopUp form .addPopUpInput, .updatePopUp form .addPopUpInput {
    display: flex;
    margin-bottom: 20px;
}

.addPopUp form .addPopUpInput .leftAddPopUp, .rightAddPopUp, .updatePopUp form .addPopUpInput .leftAddPopUp{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px;
}

.addPopUp form .addPopUpInput .leftAddPopUp div, .updatePopUp form .addPopUpInput .leftAddPopUp div {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-bottom: 6px;
}

.addPopUp form .addPopUpInput .rightAddPopUp div, .updatePopUp form .addPopUpInput .rightAddPopUp div{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-bottom: 6px;
}

.addPopUp form .addPopUpInput .leftAddPopUp div input, .updatePopUp form .addPopUpInput .leftAddPopUp div input {
    border: 1px solid;
    border-radius: 5px;
}

.addPopUp form .addPopUpInput .rightAddPopUp div input, textarea, .updatePopUp form .addPopUpInput .leftAddPopUp div input {
    border: 1px solid;
    border-radius: 5px;
}

.addPopUp form .addPopUpInput .rightAddPopUp div textarea, .updatePopUp form .addPopUpInput .rightAddPopUp div textarea {
    resize: none;
}

.addPopUp form .button, .updatePopUp form .button {
    text-align: center;
}

.overlay, .overlay-update {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay-update{
    display: block;
}

@media(max-width: 1366px) {
    html {
        font-size: 95%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 85%;
    }

    .addPopUp, .updatePopUp {
        transform: translate(-50%, -50%) scale(0.75);
    }
}

@media(max-width: 450px) {
    html {
        font-size: 75%;
    }
    
    .addPopUp form .addPopUpInput, .updatePopUp form .addPopUpInput  {
        display: flex;
        flex-direction: column;
    }

    .addPopUp form .addPopUpInput .leftAddPopUp, .rightAddPopUp, .updatePopUp form .addPopUpInput .leftAddPopUp{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
}